$accent-color: #9747FF;

$clickgui-base-color: #1a1333;
$clickgui-text-color: #e2d8ff;
$clickgui-text-dimmed-color: rgba(178, 166, 214, 0.85);

$tabgui-base-color: #1a1333;
$tabgui-text-color: #e2d8ff;
$tabgui-text-dimmed-color: rgba(178, 166, 214, 0.85);

$arraylist-base-color: #1a1333;
$arraylist-text-color: #e2d8ff;
$arraylist-tag-color: #8A6BE4;

$targethud-base-color: #1a1333;
$targethud-text-color: #e2d8ff;
$targethud-text-dimmed-color: rgba(178, 166, 214, 0.85);

$blockcounter-base-color: #1a1333;

$hotbar-base-color: #1a1333;
$hotbar-text-color: #e2d8ff;
$hotbar-experience-color: #88C657;
$hotbar-health-color: #FC4130;
$hotbar-hunger-color: #B88458;

$menu-account-premium-color: #9747FF;
$menu-base-color: #1a1333;
$menu-text-color: #e2d8ff;
$menu-text-dimmed-color: rgba(178, 166, 214, 0.85);
$menu-error-color: #fc4130;
$menu-button-loader-color: #e2d8ff;

$scoreboard-base-color: #1a1333;

$keystrokes-base-color: #1a1333;
$keystrokes-text-color: #e2d8ff;